{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block content %}

    <div class="container-fluid ">
        <h1>Blog creation</h1>

        {{ form_start(form) }}

        <div class="row form-group">
            <div class="col-md-8">
                {{ form_widget(form.title, { 'attr': {'class': 'form-control', 'placeholder': 'blog.title'|trans } }) }}
                {{ form_errors(form.title) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-8">
                {{ form_widget(form.description, { 'attr': {'class': 'form-control', 'placeholder': 'blog.description'|trans, 'rows': 10, 'cols': 5 } }) }}
                {{ form_errors(form.description) }}
            </div>
        </div>

        <div class="row form-group">
            <div class="col-md-3">
                <input class="btn btn-md btn-primary" type="submit" value="Submit">
                <a href="{{ path('blog_index') }}" class="btn btn-md btn-danger">Back</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}
